<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506482621471-cfcupconblkicle3jsktpvgr6q2qgjoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506482621471-cfcupconblkicle3jsktpvgr6q2qgjoc</string>
	<key>API_KEY</key>
	<string>AIzaSyD6kI-HeUuSF630PQaD2Jkv4YDA8AeWY-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>506482621471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pnam.ScheduleManager</string>
	<key>PROJECT_ID</key>
	<string>schedulesmanager-a19db</string>
	<key>STORAGE_BUCKET</key>
	<string>schedulesmanager-a19db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506482621471:ios:feff2101c5af701099a92a</string>
</dict>
</plist>